.btn{
    margin-right: 5px;
    padding: 6px 10px !important;
    font-size: 12px !important;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777;
}

.tableActions{
    width: 105px;
}

.todoForm{
    padding-bottom: 60px;
}